
.jumbotron{
  padding-bottom: 0rem;
}
#gigVoice{
  font-family: 'Pacifico', cursive;
}
#subTitle{
  margin-top: 2rem;
}
/* #version {

} */
.columns{
  padding-top:10px;
  padding-bottom: 200px;

}
.subTitleAndVersion {
    font-family: 'Gayathri', sans-serif;
}
#btnVersion{
  font-family: 'Gayathri', sans-serif;
  font-size: .8em;
  color: black;
  background-color: transparent;
  border: none;
}
ul #status li{
  display: inline;
}
#display li{
  list-style-type: none;
  font-size: .9em;
  color: green;
}
